<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>{{ news_item.title }}</title>
    <link rel="stylesheet" href="{% static "css/styles_news1.css" %}" />
</head>
<body>
    <header>
        <h1>{{ news_item.title }}</h1>
    </header>
<center>
    {% if images|length == 1 %}
        <div class="single-image">
            <img src="{{ images.0.image.url }}">
        </div>
    {% else %}
        <div class="slideshow">
            {% for image in images %}
                <div class="slideshow-item">
                    <img src="{{ image.image.url }}">
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </center>


    <!--<article class="news-detail">-->
    <!--<div class="images">-->
    <!--    {% for image in images %}-->
    <!--            <div class="image">-->
    <!--                <img src="{{ image.image.url }}" alt="Фото новости" style="width: 70%; height: auto;" />-->
    <!--            </div>-->
    <!--    {% endfor %}-->
    <!--</div>-->

    <div class="info">
        <p>{{ news_item.text|linebreaks }}</p>
    </div>

    <!--{% if forloop.first %}-->
    <!--{% endif %}-->

    <!--<div class="images tiled-images">-->
    <!--    {% for image in images %}-->
    <!--        {% if not forloop.first %}-->
    <!--            <div class="image">-->
    <!--                <img src="{{ image.image.url }}" alt="Фото новости" />-->
    <!--            </div>-->
    <!--        {% endif %}-->
    <!--    {% endfor %}-->
    <!--</div>-->

    <div class="time">
        <h2>{{ news_item.pub_date }}</h2>
    </div>
    </article>

    <div class="button-wrap">
        <a class="atuin-btn" href="{% url 'news' %}">Вернуться к новостям</a>
        <a class="atuin-btn" href="{% url 'home' %}">Вернуться на главную</a>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>